@{
    ViewData["Title"] = "Início";
}

<div class="text-center">
    <h1 class="display-4">Vizualizador de remedios por farmácia</h1>
    <p>O objetivo desse projeto é cadastrar os produtos e vincula-lo a uma farmácia - Sendo assim possivel verificar se algum remédio tem na farmacia selecionada.</p>
    <p>Alunos: Caio Victor Vale e Giovanny Generoso</p>
</div>
